# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules/

.venv
venv/
ENV/
env.bak/
venv.bak/

#IDE
**/.idea
.vscode/

#OS
.DS_Store
.tmp

#SERVERLESS
admin.env
.env
_meta
.serverless

config.py
