<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Set Parameters</h3>
</div>
<div class="modal-body" id="modal-body">
    <p class="lead">Specify the dimension of the vector attribute {{ data.name }}. Any changes made after adding cases to the casebase will be disregarded.</p>
    <form name="paramsForm">
        <div class="form-group">
            <label for="cosinedimattrib">Dimension</label>
            <input id="cosinedimattrib" type="number" class="form-control" ng-model="data.options.dimension" min="1" max="10000" required>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()" ng-disabled="paramsForm.$invalid">Continue</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>