<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a class="btn"><i class="fas fa-search-plus"></i> Retrieve</a></li>
  <li role="presentation"><a class="btn" ng-click="$state.go('cbr.reuse')" ng-show="requests.response"><i class="fas fa-redo"></i> Reuse</a></li>
</ul>
<p></p>
<div class="row">
  <div ng-show="selected.hasCasebase">
    <!-- Dynamically create fields using the project's casebase attributes -->
    <div class="row">
      <div class="col-lg-12">
        <div class="p-5">
          <form id="retrieveForm">
            <div class="table-responsive">
              <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Attribute (Type)</th>
                    <th>Attribute value</th>
                    <th>Weight</th>
                    <th>Solution</th>
                    <th>Retrieve<br> strategy</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="field in selected.attributes">
                    <!-- Field -->
                    <td ng-init="requests.current.data[$index].field = field.name">
                      {{ field.name }} <span ng-init="requests.current.data[$index].type = field.type">({{ field.type }})</span>
                    </td>
                    <!-- Value -->
                    <td ng-init="requests.current.data[$index].similarityType = field.similarity">
                      <!-- String type -->
                      <div ng-if="field.type=='String' || field.type=='Ontology Concept'" class="form-group">
                        <input type="text" class="form-control" ng-model="requests.current.data[$index].value" placeholder="{{ field.name }}">
                      </div>
                      <!-- Numeric type -->
                      <div ng-if="field.type=='Integer' || field.type=='Float'" class="form-group">
                        <input type="number" class="form-control" ng-model="requests.current.data[$index].value" placeholder="{{ field.name }}">
                      </div>
                      <!-- Boolean type -->
                      <div ng-if="field.type=='Boolean'" class="form-group">
                        <input class="form-check-input" type="checkbox" ng-model="requests.current.data[$index].value">
                      </div>
                      <!-- Date type -->
                      <div ng-if="field.type=='Date'" class="form-group">
                        <input type="date" class="form-control" ng-init="model=(datenow | date:'dd-MM-yyyy')" ng-model="requests.current.data[$index].value">
                      </div>
                      <!-- Location type -->
                      <div ng-if="field.type=='Location'" class="form-group">
                        <input type="text" class="form-control" ng-model="requests.current.data[$index].value" placeholder="{{ field.name }} as 'lat,lon'">
                      </div>
                      <!-- Categorical type -->
                      <div ng-if="field.type=='Categorical' && field.similarity!='Query Intersection'" class="form-group">
                        <select class="form-control" ng-model="requests.current.data[$index].value" ng-options="val as val for val in field.options.values" placeholder="{{ field.name }}"></select>
                      </div>

                      <div ng-if="field.similarity=='Query Intersection'" class="form-group">
                        <textarea class="form-control" ng-model="requests.current.data[$index].value" ng-list rows="1" placeholder="{{ field.name }}"></textarea>
                      </div>
                    </td>
                    <!-- Weight -->
                    <td>
                      <div class="form-group" ng-init="requests.current.data[$index].weight = field.weight">
                        <input type="number" class="form-control" ng-model="requests.current.data[$index].weight" min="0" max="10">
                      </div>
                    </td>
                    <!-- Unknown or Determine (False=Problem/Known OR True=Solution/Unknown) -->
                    <td  style="text-align:center;" ng-init="requests.current.data[$index].unknown = false">
                      <div class="form-group">
                        <input class="form-check-input" type="checkbox" ng-model="requests.current.data[$index].unknown">
                      </div>
                    </td>
                    <!-- Reuse strategy -->
                    <td>
                      <div class="form-group" ng-init="requests.current.data[$index].strategy = getReuseStrategies(field.type)[0]">
                        <select class="form-control" ng-options="strategy for strategy in getReuseStrategies(field.type)" ng-model="requests.current.data[$index].strategy" value="{{strategy}}" ng-disabled="!requests.current.data[$index].unknown">
                          {{ strategy }}
                        </select>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Top K cases to reuse -->
              <div class="form-group  col-sm-3">
                <label for="topk">Best k cases</label>
                <input id="topk" type="number" class="form-control" ng-model="requests.current.topk" min="1" max="50">
              </div>
              <!-- Global similarity -->
              <div class="form-group col-sm-3">
                <label for="globalSim">Global similarity</label>
                <select id="globalSim" class="form-control" ng-model="requests.current.globalSim" aria-label="Global similarity metric">
                  <option value="Weighted Sum">
                    Weighted Sum
                  </option>
                </select>
              </div>

              <div class="form-group col-sm-4">
                <label for="retrieveCases"></label>
                <button id="retrieveCases" type="button" name="button" class="btn btn-block btn-lg btn-primary" ng-click="retrieveCases()" ng-disabled="!requests.current.data.length>0">
                  Retrieve Cases
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!selected.hasCasebase">
    <p class="lead">The CBR application does not have any cases. Add cases to the casebase before you can retrieve.</p>
  </div>
</div>
