<ul class="nav nav-tabs">
  <li role="presentation"><a class="btn btn-link" ng-click="$state.go('cbr.retrieve')"><i class="fas fa-search-plus"></i> Retrieve</a></li>
  <li role="presentation"><a class="btn btn-link" ng-click="$state.go('cbr.reuse')"><i class="fas fa-redo"></i> Reuse</a></li>
  <li role="presentation" class="active"><a class="btn btn-link"><i class="fas fa-edit"></i> Revise</a></li>
  <li role="presentation"><a class="btn btn-link" ng-click="retainCase()"><i class="fas fa-plus"></i> Retain</a></li>
</ul>

<p></p>

<div class="row">
  <div ng-show="editing && objOrArrayHasContent(requests.response.recommended)">
    <!-- Dynamically create fields using the project's casebase attributes -->
    <div class="row">
      <div class="col-lg-12">
        <div class="p-5">
          <form id="retrieveForm">
            <div class="table-responsive">
              <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Attribute name</th>
                    <th>Attribute value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, value) in requests.response.recommended">
                    <td>
                      {{ key }}
                    </td>
                    <td>
                      <!-- Check data type -->
                      <!-- String type -->
                      <div ng-if=" getDataType(value)=='string' " class="form-group">
                        <input type="text" class="form-control" ng-model="requests.response.recommended[key]">
                      </div>
                      <!-- Numeric type -->
                      <div ng-if=" getDataType(value)=='number' " class="form-group">
                        <input type="number" class="form-control" ng-model="requests.response.recommended[key]">
                      </div>
                      <!-- Boolean type -->
                      <div ng-if=" getDataType(value)=='boolean' " class="form-group">
                        <input class="form-check-input" type="checkbox" ng-model="requests.response.recommended[key]">
                      </div>
                      <!-- Object type -->
                      <div ng-if=" getDataType(value)=='object' " class="form-group">
                        <textarea class="form-control" ng-model="requests.response.recommended[key]">
                        </textarea>
                      </div>
                      <!-- Other type -->
                      <div ng-if=" getDataType(value)!='string' && getDataType(value)!='number' && getDataType(value)!='boolean' && getDataType(value)!='object'" class="form-group">
                        <input type="text" class="form-control" ng-model="requests.response.recommended[key]">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <button type="button" class="btn btn-default" ng-click="cancelReviseCase()">
                Cancel
              </button>
              <button type="button" class="btn btn-primary" ng-click="retainCase()">
                Retain
              </button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
